<section class="user-profile">
  <div class="container">
    <h2>My Profile</h2>
    <div class="profile-details">
      <div class="profile">
        <img
          *ngIf="
            userDetails.profile_picture === '' ||
            userDetails.profile_picture === undefined
          "
          src="{{ profilePicture }}"
        />
        <img
          *ngIf="profilePicture != '' && profilePicture != undefined"
          [src]="profilePicture"
        />

        <label for="file" class="edit-profile" *ngIf="!enableEdit"></label>
        <input
          *ngIf="!enableEdit"
          type="file"
          id="file"
          class="p-img-input"
          (change)="handleFileInput($event)"
        />
      </div>
      <div class="clearfix"></div>
      <div class="personal-info mb-8">
        <div class="user-details">
          <p class="p-head">USER INFORMATION</p>
          <span class="option" *ngIf="!enableEdit">
            <!-- <button class="edit" (click)="editField()">Edit</button> -->
            <button
              class="modal-btn mw-105 br-blue bg-white text-blue"
              (click)="editField()"
            >
              Edit
            </button>
          </span>
        </div>
        <form role="form" autocomplete="off" [formGroup]="personalDetailsForm">
          <div class="personal-info mb-8">
            <div class="user-details">
              <div class="w-40 fl">
                <span class="labels">Name</span>
              </div>
              <div class="w-60 fl text-right">
                <span class="values Text" [class.editable]="!enableEdit">{{
                  userDetails.fullName
                }}</span>
                <span
                  class="values Input displayNone"
                  [class.editable]="enableEdit"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      class="InputBox form-control"
                      placeholder="Enter your name"
                      formControlName="fullName"
                      [ngClass]="{
                        invalidForm:
                          personalDetailsForm.controls['fullName'].touched &&
                          personalDetailsForm.controls['fullName'].invalid,
                        '':
                          !personalDetailsForm.controls['fullName'].touched &&
                          !personalDetailsForm.controls['fullName'].invalid
                      }"
                    />
                  </div>
                  <p
                    class="invalid"
                    *ngIf="
                      personalDetailsForm.controls['fullName'].invalid &&
                      (personalDetailsForm.controls['fullName'].dirty ||
                        personalDetailsForm.controls['fullName'].touched)
                    "
                  >
                    Enter a valid Full Name
                  </p>
                </span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="user-details">
              <div class="w-40 fl">
                <span class="labels">Age</span>
              </div>
              <div class="w-60 fl text-right">
                <span
                  class="values Text"
                  *ngIf="!userDetails.age || userDetails.age === 'undefined'"
                  [class.editable]="!enableEdit"
                  >N/A</span
                >
                <span
                  class="values Text"
                  *ngIf="userDetails.age && userDetails.age !== 'undefined'"
                  [class.editable]="!enableEdit"
                  >{{ userDetails.age }}</span
                >
                <span
                  class="values Input displayNone"
                  [class.editable]="enableEdit"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      class="InputBox form-control"
                      placeholder="Enter Your Age"
                      formControlName="age"
                      [ngClass]="{
                        invalidForm:
                          personalDetailsForm.controls['age'].touched &&
                          personalDetailsForm.controls['age'].invalid,
                        '':
                          !personalDetailsForm.controls['age'].touched &&
                          !personalDetailsForm.controls['age'].invalid
                      }"
                      (keyup)="validateAge()"
                      (blur)="validateAge()"
                    />
                  </div>
                  <p
                    class="invalid"
                    *ngIf="
                      personalDetailsForm.controls['age'].invalid &&
                      (personalDetailsForm.controls['age'].dirty ||
                        personalDetailsForm.controls['age'].touched)
                    "
                  >
                    Enter Age (Age must be >= 18)
                  </p>
                </span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="user-details">
              <div class="work-exp">
                <div class="work-ex-top">
                  <h4>Work Experiences</h4>
                  <img
                    (click)="addWorkExp()"
                    src="./assets/images/ic_add.svg"
                    alt=""
                  />
                </div>
                <div class="work-exp-det" formArrayName="workExp">
                  <div
                    class="exp"
                    *ngFor="let we of workEx.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <h5>Experience {{ i + 1 }}</h5>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <p class="title">Company Logo</p>
                        <div class="uploader">
                          <span class="imgUpload">
                            <input
                              type="file"
                              id="compImg{{ i }}"
                              formControlName="compLogo"
                              (change)="uploadImage($event, i, 'compImgVal')"
                            />
                            <label for="img1"></label>
                          </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="logo-wrapper">
                          <img
                            class="remove-img"
                            src="./assets/images/ic_closeMenu.png"
                            alt="Remove Image"
                            (click)="
                              removeImageupload('compImg', 'compImgVal', i)
                            "
                          />
                          <img
                            [src]="'./assets/images/img_upload.png'"
                            class="compImage"
                            id="compImgVal{{ i }}"
                            (click)="triggerImageupload('compImg', i)"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <label for="testimonialName1" class="form-label"
                          >Company</label
                        >
                        <input
                          type="text"
                          class="form-control input-field"
                          required
                          formControlName="companyName"
                        />
                      </div>
                      <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <label for="testimonialName1" class="form-label"
                          >Job Title</label
                        >
                        <input
                          type="text"
                          class="form-control input-field"
                          required
                          formControlName="jobTitle"
                        />
                      </div>
                      <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-4 date">
                        <label class="form-label"> Start date </label>
                        <input
                          type="text"
                          class="form-control input-field"
                          placeholder="-"
                          id="startdPicker{{ i }}"
                          [bsConfig]="bsConfig"
                          bsDatepicker
                          formControlName="startDate"
                        />
                        <span
                          class="dpicker-icon"
                          (click)="triggerDatePicker('startdPicker', i)"
                        ></span>
                      </div>
                      <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-4 date">
                        <label class="form-label"> End date </label>
                        <input
                          type="text"
                          class="form-control input-field"
                          placeholder="-"
                          id="endPicker{{ i }}"
                          [bsConfig]="bsConfig"
                          bsDatepicker
                          formControlName="endDate"
                        />
                        <span
                          class="dpicker-icon"
                          (click)="triggerDatePicker('endPicker', i)"
                        ></span>
                      </div>
                      <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <label for="currentJobCheck" class="check-bar mt-2">
                          <input
                            id="currentJobCheck"
                            type="checkbox"
                            name="purpose"
                            formControlName="currentJobCheck"
                          />
                          <span class="title">Current Job</span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 delete-icon"
                      >
                        <img
                          (click)="deleteWorkExp(i)"
                          src="./assets/images/delete-icon.svg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
                        <label for="cname" class="form-label"
                          >Job description</label
                        >
                        <angular-editor
                          id="i"
                          [config]="toolbarConfig"
                          formControlName="jobDescription"
                        ></angular-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <div class="save-cancel-btn">
        <a
          [class.active]="personalDetailsForm.invalid"
          *ngIf="enableEdit"
          target="_blank"
          (click)="updateDetails()"
          rel="nofollow"
          class="btn-linked update-btn bg-blue text-white mt-6"
        >
          Update
        </a>
        <a
          class="btn-linked bg-red text-white mt-6"
          *ngIf="enableEdit"
          (click)="cancelEdit()"
        >
          Cancel
        </a>
      </div>
    </div>
  </div>
</section>
